@import '../../styles/variables.scss';

.component-candidates {
    .candidate-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        width: 100%;
    }
    .candidate-search {
        width: 50%;
    }
    .candidate-add {
    }

    .candidate-wrapper {
        align-items: flex-end;
        justify-content: space-between; 

        width: 100%;
        height: 50px;
        padding: 7px 5px;

        border-bottom: $border-light;
    }
    .candidate-info {
        float: left;
        & > * {
            display: inline-block;
        }
        a {
            margin-right: 50px;

            color: $color-secondary;
        }
    }
    .candidate-status { 
        width: 200px;
        float:right; 
        
        p {
        display: inline;
        }

        .deleted{
            color: $color-danger;
        }

        .completed{
            color: $color-success;
        }
    }

    .refresh{
        font-size: 200%;
        color: white;
    }

    .small {
        
        height: 30px;
        width:110px;
        font-size: 75%;
        float: right;
        position: relative;
        left: 30px;
    }
}

#deleted {
    color: $color-danger;

    a.disabled {
        color: $color-secondary;
        opacity: 0.5;
        pointer-events: none;
        cursor: default;
    }

    a.reintroduce {
        color: $color-secondary;
    }
}

#completed {
    color: $color-success;
}

input.inp-cbx {
    display: none;
}

html, body {
    height: 100%;
  }
  
  body {
    display: grid;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #223254;
  }
  
  .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
  }
  .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .cbx span:last-child {
    padding-left: 8px;
  }
  .cbx:hover span:first-child {
    border-color: #506EEC;
  }
  
  .inp-cbx:checked + .cbx span:first-child {
    background: #506EEC;
    border-color: #506EEC;
    animation: wave 0.4s ease;
  }
  .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave {
    50% {
      transform: scale(0.9);
    }
  }


  .filters {

    overflow: visible;
    height: 30px;
    & > div {
        margin-left: 15px;
    &:first-of-type{
        margin-left: 0;
    }
    }
}

.filters .complete,
.filters .delete {
    float:left;
}


.filters label {
    display: inline;
}

.search {

  label {
    color: $color-light;
    display: block;
  }
  

}
